p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Main */
body {
  font-family: 'Graphik', sans-serif;
  margin: 0;
  /* color: var(--main-text-color); */
  /* background: var(--main-bg-color); */
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

.button {
  border: none;
  background-color: transparent;
  font-family: inherit;
  padding: 0;
  cursor: pointer;
}

/* .visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
} */

.container {
  width: 1440px;
  margin: 0 auto;
  /* padding-left: 15px;
  padding-right: 15px; */
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* Header */
.header {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  background-color: grey;
}

.header-nav {
  display: flex;
}

.header-list {
  display: flex;
  align-items: center;
  gap: 41px;

  /* font-family: 'Graphik', sans-serif; */
  font-weight: 400;
  font-size: 15px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.2px;
}

/* .header-item {

} */

.header-link {
    color: #FFFFFF;
}

.header-logo {
  margin-left: 45.5px;

}

.header-socials {
  display: flex;
  gap: 30px;
  margin-left: auto;
  align-items: center;
}

/* Hero */
.hero-section {
  background-color: gray;
  margin-top: 159px;
  margin-bottom: 235px;
  text-align: center;
}
.hero-title {
  margin-bottom: 27px;
  font-weight: 700;
  font-size: 74px;
  line-height: 1.14;

  letter-spacing: 0.2px;

  color: #FFFFFF;
}

.hero-text {
  margin-bottom: 90px;
  font-weight: 400;
  font-size: 28px;
  line-height: 1.43;

  letter-spacing: 0.2px;

  color: #FFFFFF;
}

.hero-button {
  padding: 16px 0px;

  width: 236px;
  height: 52px;

  background: #2091F9;
  border-radius: 35px;

  font-weight: 400;
  font-size: 20px;
  line-height: 1.0;

  text-align: center;
  letter-spacing: 0.2px;

  color: #FFFFFF;
}