p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Main */
body {
  font-family: 'Graphik', sans-serif;
  margin: 0;
  /* color: var(--main-text-color); */
  /* background: var(--main-bg-color); */
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

.button {
  border: none;
  background-color: transparent;
  font-family: inherit;
  padding: 0;
  cursor: pointer;
}

.container {
  width: 1440px;
  margin: 0 auto;
}

.section {
  /* padding-top: 94px;
  padding-bottom: 94px; */
}

/* Header */
.header {
  background-image: url('../images/bg-hero-img.jpg');
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

.header-container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  align-items: center; 
  justify-content: center;
  flex-wrap: wrap;

  padding-left: 50px;
  padding-right: 44.5px;
  padding-top: 49px;
  /* padding-bottom: 49px; */
}

.header-nav {
  display: flex;
}

.header-list {
  display: flex;
  align-items: center;
  gap: 41px;

  font-weight: 400;
  font-size: 15px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.2px;
}

.header-link {
  color: #FFFFFF;
}

.header-logo {
  margin-left: 195.5px;
}

.header-socials {
  display: flex;
  gap: 30px;
  margin-left: auto;
  align-items: center;
}


/* Hero */
.hero-section {
  text-align: center;

  background-image: url('../images/bg-hero-img.jpg');
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}

.hero-container {
  width: 100%;
  max-width: 1440px;
  height: 776px;
  margin: 0 auto;
  padding-top: 110px;
  padding-bottom: 243px;
}

.hero-title {
  max-width: 672px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 27px;

  font-weight: 700;
  font-size: 74px;
  line-height: 1.14;

  letter-spacing: 0.2px;

  color: #FFFFFF;
}

.hero-text {
  max-width: 766px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 90px;

  font-weight: 400;
  font-size: 28px;
  line-height: 1.43;

  letter-spacing: 0.2px;

  color: #FFFFFF;
}

.hero-button {
  padding: 16px 0px;

  width: 236px;
  height: 52px;

  background: #2091F9;
  border-radius: 35px;

  font-weight: 400;
  font-size: 20px;
  line-height: 1.0;

  text-align: center;
  letter-spacing: 0.2px;

  color: #FFFFFF;
}

/* Features */
.features-section {
  padding-top: 205px;
  padding-bottom: 132px;
}

.features-container {
  padding-right: 298px;
  padding-left: 298px;
}

.features-title {
  margin-bottom: 27px;

  font-weight: 400;
  font-size: 48px;
  line-height: 1.15;

  text-align: center;
  letter-spacing: 0.2px;

  color: #252B42;
}
.features-text {
  margin-bottom: 97px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;

  max-width: 532px;
  font-weight: 400;
  font-size: 28px;
  line-height: 1.43;

  letter-spacing: 0.2px;

  color: #374754;
}
.features-list {
  max-width: 844px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 76px;
}
.features-item {
  max-width: 231px;
}

.features-item-img {
  margin-bottom: 28px;

  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.features-item-title {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.4;

  text-align: center;
  letter-spacing: 0.1px;

  color: #252B42;
}
.features-item-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.39;

  text-align: center;
  letter-spacing: 0.2px;

  color: #374754;
}

/* Media */
.media-section {
  padding-bottom: 52px;
}

.media-container {
  padding-right: 298px;
  padding-left: 298px;

  display: flex;
  align-items: center;
  justify-content: center;
}

iframe {
  width: 1177px;
  height: 658px;
  border: none;
  box-shadow: 0px 8.14769172668457px 63.14461135864258px 0px #00000026;
  border-radius: 45px;
}

/* About us */
.aboutus-section {
  padding-top: 283.5px;
  padding-bottom: 283.5px;
}
.aboutus-container {
  padding-right: 266px;
  padding-left: 266px;
  display: flex;
  align-items: center;
  /* width: 100%; */
  /* height: 472px; */
  /* margin: 0 auto; */
}
.aboutus-wrap {
  max-width: 532px;
  margin-right: 48.5px;

}
.aboutus-title {
  max-width: 335px;
  margin-bottom: 27px;
  font-weight: 400;
  font-size: 48px;
  line-height: 1.15;

  letter-spacing: 0.2px;
  color: #252B42;
}

.aboutus-text {
  margin-bottom: 70px;
  max-width: 532px;
  font-weight: 400;
  font-size: 28px;
  line-height: 1.43;

  letter-spacing: 0.2px;
  color: #374754;
}
.aboutus-button {
  padding: 16px 0px;

  width: 236px;
  height: 60px;

  background: #2091F9;
  border: 1px solid #2091F9;
  border-radius: 35px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.4;

  letter-spacing: 0.1px;
  color: #FFFFFF;
}
/* Subscribe */
.subscribe-section {
  padding-top: 156px;
  padding-bottom: 90px;
}
.subscribe-container {
  padding-right: 119px;
  padding-left: 64px;
  display: flex;
  align-items: center;
}
.subscribe-wrap {
  margin-left: 113px;
  display: inline-block;
}
.subscribe-pretitle {
  margin-bottom: 17px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.4;

  letter-spacing: 0.1px;
  color: #252B42;
}
.subscribe-title {
  margin-bottom: 35px;

  font-weight: 400;
  font-size: 48px;
  line-height: 1.15;

  letter-spacing: 0.2px;
  color: #252B42;
}
.subscribe-text-offer {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: 0.1px;

  color: #252B42;
}
.subscribe-text {
  margin-bottom: 36px;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.39;

  letter-spacing: 0.2px;
  color: #374754;
}
.subscribe-input-wrap {
  display: flex;
  gap: 12px;
}
.subscribe-input {
  padding: 19px 39px;

  width: 273px;
  height: 54px;

  background: #F4F4F4;
  border: 1px solid #E8E8E8;
  border-radius: 39px;
}
.subscribe-button {
  padding: 19px 38px;
  width: 172px;
  height: 58px;

  font-weight: 400;
  font-size: 20px;
  line-height: 1;

  letter-spacing: 0.2px;
  color: #FFFFFF;

  background: #2091F9;
  border-radius: 35px;
}

/* Partners */
.partners-section {
  padding-top: 130px;
  padding-bottom: 80px;
}
.partners-container {
  padding-right: 182.5px;
  padding-left: 182.5px;
  text-align: center;
}
.partners-title {
  margin-bottom: 27px;

  font-weight: 400;
  font-size: 48px;
  line-height: 1.15;

  text-align: center;
  letter-spacing: 0.2px;
  color: #252B42;
}
.partners-text {
  max-width: 532px;
  margin: 0 auto;
  margin-bottom: 92px;

  font-weight: 400;
  font-size: 28px;
  line-height: 1.43;

  text-align: center;
  letter-spacing: 0.2px;
  color: #374754;
}
.partners-list {
  margin-bottom: 80px;

  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
}
.partners-item-wrap {
  padding: 31px 40px;
  border: 1px solid #D8D8D8;
}
.partners-item-wrap-title {
  margin-bottom: 15px;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.44;

  letter-spacing: 0.1px;
  color: #374754;
}

.partners-img-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.partners-button {
  padding: 16px 0px;
  width: 236px;
  height: 60px;

  background: #2091F9;

  border: 1px solid #2091F9;
  border-radius: 35px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.4;

  letter-spacing: 0.1px;
  color: #FFFFFF;
}